*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Noto Serif";
    src: url("../fonts/noto-serif/NotoSerif-Regular.ttf");
}

@font-face {
    font-family: "Noto Serif Light";
    src: url("../fonts/noto-serif/NotoSerif-Light.ttf");
} 

@font-face {
    font-family: "Leckerli One";
    src: url("../fonts/leckerli-one/LeckerliOne-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/source-sans-pro/SourceSansPro-Regular.ttf");
}

@font-face{
    font-family: "Source Sans Pro Light";
    src: url("../fonts/source-sans-pro/SourceSansPro-Light.ttf");
}

.header{
    position: fixed;
    background-color:#fff;
    width: 100vw;
    height: 10vh;
    z-index: 999;
    box-shadow:1vw 0 0.5vw #c4c4c4;
}

body{

    overflow-x: hidden;
    font-family:"Source Sans Pro";
}

.paragraph-se{

    font-family: "Leckerli One";
    font-size: 3rem;
    margin-top: 2vh;
    margin-left: 8vh;
    background: linear-gradient(#F50679 0%, #ED811D);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.ul-menu{

    margin-top: -5.5vh;
    margin-left: 45vw;
}

.ul-menu-a{
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
    font-family: "Noto Serif";
    padding-left: 2vw;
}

.ul-menu-a:hover{
    font-weight: bold;
}

.a-special{
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.a-special:hover{
    background: linear-gradient(90deg, #BE065F -4.96%, #E07818 76.38%);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}


.a-special::after{
    content: ' ';
    width: 4vw;
    height: 0.7vh;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    position: absolute;
    margin-left: -3.7vw;
    margin-top: 4.5vh;
    border-radius: 1.5vh;
}

.btn-login{
    border: none;
    color:#fff;
    width: 6.5vw;
    height: 5vh;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    margin-left: 8.5vw;
    border-radius: 0.5vh;
    padding-right: -5vw;
    
}


.btn-login:hover{

    background: linear-gradient(90deg, #BE065F -4.96%, #E07818 76.38%);
    font-weight: bold;
}

.ul-menu-a:last-child{
    color: #fff;
    padding-left: 0;
    font-family: "Source Sans Pro";
    font-weight: bold;
}

.first-section{
    display: grid;
    grid-template-columns: 2;
    grid-auto-flow: column;
}

.first-section-left{
    margin-top: 40vh;
    position: relative;
    left: 6vw;
    width: 60vw;
}

.first-section-left-title{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Noto Serif";
}

.first-section-left-conteudo{
    font-size: 1.69rem;
    margin-top: 1vh;
}

.btn-ver-produtos{
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    width: 8.5vw;
    height: 5.4vh;
    font-size: 1.5rem;
    font-family: "Noto Serif";
    border-radius: 0.5vh;
    margin-top: 3vh;
}

.btn-ver-produtos-a{
    text-decoration: none;
}


.btn-ver-produtos:hover{
    background: linear-gradient(90deg, #BE065F -4.96%, #E07818 76.38%);
    font-weight: bold;
    cursor: pointer;
}

.first-section-right{
    width: 40vw;
}

.first-section-right-img{
    width: 30vw;
    object-fit: cover;
    margin-left: 10vw;
    margin-top: 10vh;
}

.second-section{
    margin-top: 12vh;
}

.orange-circle,.orange-circle-special{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 2.3rem;
    background-color: #E07818;
    position: relative;
    left: 39.5vw;
    top: -5vh;
}

.orange-circle::after,.orange-circle-special::after{
    content: ' ';
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 1.1rem;
    background-color: #F50679;
    position: absolute;
    left: 1.5vw;
    top: 3.8vh;
}

.p-title-special{
    text-align: center;
    font-size: 3.5rem;
    font-family: "Noto Serif";
    font-weight: bold;
}

.promotion-section{
    display: grid;
    grid-template-columns:3;
    grid-auto-flow: column;
    gap:0 2vh;
    margin-top: 6vh;
    justify-items: center;
    justify-content: center;
}

.promotion-section-item{
    width: 30vw;
    height: 60vh;
}

.promotion-section-item-img{
    width: 30vw;
    height: 40vh;
    object-fit: cover;
}

.promotion-section-item-description{

    margin-top: -1vh;
    border: 0.5vh solid #c4c4c4;
    border-top: 0;
    background-color: #fff;
    height: 18vh;
    padding: 2vh;
}

.promotion-section-item-description--perfume-name{

    font-size: 1.8rem;
    font-family: "Noto Serif Light";
}

.promotion-section-item-description--perfume-price{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Noto Serif";
    padding-top: 1vh;
}

.promotion-section-item-description--btn-shop{

    border: none;
    color: #fff;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    width: 7vw;
    height: 5.4vh;
    font-size: 1.55rem;
    border-radius: 0.5vh;
    margin-top: 0.5vh;
    margin-left: 20.2vw;

}

.promotion-section-item-description--btn-shop a{

    text-decoration: none;
    color: #fff;
}

.news-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    justify-items: center;
    margin-top: 10vh;
    gap: 4vw 0;
}

.news-section-item{
    width: 40vw;
    height: 66vh;
}

.item-1{
    margin-left: 11vh;
}

.item-2{
    margin-right: 11vh;
}

.news-section-item-img{
    width: 40vw;
    height: 50vh;
    object-fit: cover;
}

.news-section-item-description{
    margin-top: -1vh;
    border: 0.5vh solid #c4c4c4;
    border-top: 0;
    background-color: #fff;
    height: 17vh;
    padding: 2vh;
}

.news-section-item-description--perfume-name{

    font-size: 1.8rem;
    font-family: "Noto Serif Light";
}

.news-section-item-description--perfume-price{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Noto Serif";
    padding-top: 1vh;
}

.news-section-item-description--btn-shop{

    border: none;
    color: #fff;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    width: 7vw;
    height: 5.4vh;
    font-size: 1.55rem;
    border-radius: 0.5vh;
    margin-top: -1vh;
    margin-left: 30.2vw;

}

.news-section-item-description--btn-shop a{
    text-decoration: none;
    color: #fff;
}

.orange-circle-special{
    left: 37vw;
}

