*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Noto Serif";
    src: url("../fonts/noto-serif/NotoSerif-Regular.ttf");
}

@font-face {
    font-family: "Leckerli One";
    src: url("../fonts/leckerli-one/LeckerliOne-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/source-sans-pro/SourceSansPro-Regular.ttf");
}

.header{
    position: fixed;
    background-color:#fff;
    width: 100vw;
    height: 10vh;
    z-index: 999;
}

body{

    overflow-x: hidden;
    font-family:"Source Sans Pro";
}

.paragraph-se{

    font-family: "Leckerli One";
    font-size: 3rem;
    margin-top: 2vh;
    margin-left: 20vh;
    background: linear-gradient(#F50679 0%, #ED811D);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.ul-menu{

    margin-top: -5.5vh;
    margin-left: 45vw;
}

.ul-menu-a{
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
    font-family: "Noto Serif";
    padding-left: 2vw;
}

.ul-menu-a:hover{

    font-weight: bold;
}

.a-special{

    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.a-special::after{
    content: ' ';
    width: 4vw;
    height: 0.7vh;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    position: absolute;
    margin-left: -3.7vw;
    margin-top: 4.5vh;
    border-radius: 1.5vh;
}

.btn-login{

    border: none;
    color:#fff;
    width: 6.5vw;
    height: 5vh;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    margin-left: 8.5vw;
    border-radius: 0.5vh;
    padding-right: -5vw;
}


.btn-login:hover{

    background: linear-gradient(90deg, #BE065F -4.96%, #E07818 76.38%);
    font-weight: bold;
}

.ul-menu-a:last-child{
    color: #fff;
    padding-left: 0;
}

.first-section{
    display: grid;
    grid-template-columns: 2;
    grid-auto-flow: column;
}

.first-section-left{

    margin-top: 40vh;
    position: relative;
    left: 12vw;
    width: 60vw;
}

.first-section-left-title{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Noto Serif";
}

.first-section-left-conteudo{
    font-size: 1.69rem;
    margin-top: 1vh;
}

.btn-ver-produtos{
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    width: 8.5vw;
    height: 5.4vh;
    font-size: 1.5rem;
    font-family: "Noto Serif";
    border-radius: 0.5vh;
    margin-top: 3vh;
}

.btn-ver-produtos-a{
    text-decoration: none;
}


.btn-ver-produtos:hover{

    background: linear-gradient(90deg, #BE065F -4.96%, #E07818 76.38%);
    font-weight: bold;
    cursor: pointer;
}

.first-section-right{

    width: 40vw;
}

.first-section-right-img{

    width: 30vw;
    object-fit: cover;
    margin-left: 10vw;
    margin-top: 10vh;
}