.div-section{
    width: 100vw;
    display: grid;
    grid-template-columns: 2;
    grid-auto-flow: column;
}

.left-div{
    width: 50vw;
    height: 100vh;
}

.left-div-img
{
    width: 100%;
    height: 100%;
   object-fit: cover;
}

.p-tittle{
    font-size: 2.8rem;
    margin-top: 25vh;
    font-family: "Noto Serif";
    padding-left: 9vw;
}

.input-style{
    border: none;
    width: 30vw;
    border-bottom: 0.4vh solid #A89E9E;
    font-family:"Source Sans Pro";
    font-size: 1.45rem;
    padding-bottom: 0.25vw;
    color: #3E3A3A;
}

.input-style:focus {
    outline: none;
}

.input-style::placeholder{
    color: #3E3A3A;
    font-size: 1.45rem;
}

.p-esqueceu{
    color: #000;
    font-size: 1.45rem;
    padding-left: 17vw;
}

.link-esqueceu{
    text-decoration: none;
}

.link-esqueceu:hover{
    font-weight: bold;
}

.btn-login{
    border: none;
    background:none;
    font-size: 2rem;
    font-family:"Source Sans Pro";
    color: #fff;
    width: 30vw;
    height: 7.5vh;
    border-radius: 1vh;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    cursor: pointer;
}

.btn-login:hover{

    background: linear-gradient(90deg, #BE065F -4.96%, #E07818 76.38%);
    font-weight: bold;
}

.link-ainda{

    text-decoration: none;
    color: #000;
}


.link-ainda:hover{

    font-weight: bold;
}


.p-ainda{
    font-size: 1.45rem;
    color: #000;
}