*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Noto Serif";
    src: url("../fonts/noto-serif/NotoSerif-Regular.ttf");
}

@font-face {
    font-family: "Noto Serif Light";
    src: url("../fonts/noto-serif/NotoSerif-Light.ttf");
} 

@font-face {
    font-family: "Leckerli One";
    src: url("../fonts/leckerli-one/LeckerliOne-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/source-sans-pro/SourceSansPro-Regular.ttf");
}

@font-face{
    font-family: "Source Sans Pro Light";
    src: url("../fonts/source-sans-pro/SourceSansPro-Light.ttf");
}

.header{
    position: fixed;
    background-color:#fff;
    width: 100vw;
    height: 10vh;
    z-index: 999;
    box-shadow:1vw 0 0.5vw #c4c4c4;
}

body{

    overflow-x: hidden;
    font-family:"Source Sans Pro";
}

.paragraph-se{

    font-family: "Leckerli One";
    font-size: 3rem;
    margin-top: 2vh;
    margin-left: 8vh;
    background: linear-gradient(#F50679 0%, #ED811D);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ul-menu{

    margin-top: -5.5vh;
    margin-left: 45vw;
}

.ul-menu-a{
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
    font-family: "Noto Serif";
    padding-left: 2vw;
    position: relative;
}

.ul-menu-a:hover{
    font-weight: bold;
}

.ul-menu-a[href="#"]{
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-family: "Noto Serif";
}

.ul-menu-a[href="#"]:hover{
    background: linear-gradient(90deg, #BE065F -4.96%, #E07818 76.38%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.ul-menu-a[href="#"]::after{
    content:'';
    position: absolute;
    height: 0.7vh;
    width: 83%;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    left:64%;
    transform: translateX(-50%);
    bottom: -0.5rem;
    border-radius: 0.5vw;
}

.btn-login{
    border: none;
    color:#fff;
    width: 6.5vw;
    height: 5vh;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    margin-left: 8.5vw;
    border-radius: 0.5vh;
    padding-right: -5vw;
    cursor: pointer;
}

.btn-login:hover{
    background: linear-gradient(90deg, #BE065F -4.96%, #E07818 76.38%);
    font-weight: bold;
}

.ul-menu-a:last-child{
    color: #fff;
    padding-left: 0;
    font-family: "Source Sans Pro";
    font-weight: bold;
}

.section-image{

    margin-bottom: 35vh;
}

.section-image-img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;   
}

.section-image-title{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Leckerli One";
    color: #fff;
    
margin-top: -15vh;
    text-align: center;
}

.section-image-description{
    color: #fff;
    font-size: 1.8rem;
    margin-left: 3vw;
    margin-top: 3vh;
}