*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Noto Serif";
    src: url("../fonts/noto-serif/NotoSerif-Regular.ttf");
}

@font-face {
    font-family: "Noto Serif Light";
    src: url("../fonts/noto-serif/NotoSerif-Light.ttf");
} 

@font-face {
    font-family: "Leckerli One";
    src: url("../fonts/leckerli-one/LeckerliOne-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/source-sans-pro/SourceSansPro-Regular.ttf");
}

@font-face{
    font-family: "Source Sans Pro Light";
    src: url("../fonts/source-sans-pro/SourceSansPro-Light.ttf");
}

.header{
    position: fixed;
    background-color:#fff;
    width: 100vw;
    height: 10vh;
    z-index: 999;
    box-shadow:1vw 0 0.5vw #c4c4c4;
}

body{

    overflow-x: hidden;
    font-family:"Source Sans Pro";
}

.paragraph-se{

    font-family: "Leckerli One";
    font-size: 3rem;
    margin-top: 2vh;
    margin-left: 8vh;
    background: linear-gradient(#F50679 0%, #ED811D);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ul-menu{

    margin-top: -5.5vh;
    margin-left: 45vw;
}

.ul-menu-a{
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
    font-family: "Noto Serif";
    padding-left: 2vw;
    position: relative;
}

.ul-menu-a:hover{
    font-weight: bold;
}

.ul-menu-a[href="#"]{
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-family: "Noto Serif";
}

.ul-menu-a[href="#"]:hover{
    background: linear-gradient(90deg, #BE065F -4.96%, #E07818 76.38%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.ul-menu-a[href="#"]::after{
    content:'';
    position: absolute;
    height: 0.7vh;
    width: 92%;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    left:56%;
    transform: translateX(-50%);
    bottom: -0.5rem;
    border-radius: 0.5vw;
}

.btn-login{
    border: none;
    color:#fff;
    width: 6.5vw;
    height: 5vh;
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    margin-left: 8.5vw;
    border-radius: 0.5vh;
    padding-right: -5vw;
    cursor: pointer;
}

.btn-login:hover{
    background: linear-gradient(90deg, #BE065F -4.96%, #E07818 76.38%);
    font-weight: bold;
}

.ul-menu-a:last-child{
    color: #fff;
    padding-left: 0;
    font-family: "Source Sans Pro";
    font-weight: bold;
}

.section-image{

    margin-bottom: 35vh;
}

.section-image-img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;   
}

.section-image-title{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Noto Serif";
    color: #fff;
    margin-top: -50vh;
    margin-left: 3vw;
}

.section-image-description{
    color: #fff;
    font-size: 1.8rem;
    margin-left: 3vw;
    margin-top: 3vh;
}

 .orange-circle-special1{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 2.3rem;
    background-color:#ED811D;
    position: relative;
    left: 30.5vw;
    top: -5vh;
}

.orange-circle-special1::after{
    content: ' ';
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 1.1rem;
    background-color: #F50679;
    position: absolute;
    left: 1.5vw;
    top: 3.8vh;
}

.second-section{
    margin-top: 12vh;
}

.p-title-special{
    text-align: center;
    font-size: 3.5rem;
    font-family: "Noto Serif";
    font-weight: bold;
}

.testimony-of-clients-section{

    display: grid;
    justify-items: center;
    justify-content: center;
    margin-bottom: 15vh;
}

.div-fifth-section-description-img{

    width: 15vw;
    height: 15vw;
    object-fit: cover;
    border: 0.9vh solid #ED811D;
    border-radius: 50%;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.div-fifth-section-description-p-name{

    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 4.5vh;
}

.div-fifth-section-description-p-description{
    font-size: 1.2rem;
    padding: 3vh;
    text-align: center;
    border: 0.2vw solid #eceaea;
    border-radius: 0.3vw;
    margin-bottom: 5vh;
}

.fifth-section-description-span{

    font-family: "Source Sans Pro";
}

.div-fifth-section-description-div-circles{

    display: flex;
    margin-bottom: 2vh;
    align-items: center;

}

.div-fifth-section-description-div-circles--item{

    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: 0.5vh solid #F50679;
    margin: 0 0.25rem;
}

.active-item-quote{
    width: 1.3vw;
    height: 1.4vw;
    background-color: #F50679;
    border: none;
}

.footer{

    background-color: #3E3A3A;
    width: 100vw;
    height: 25vh;
    color: #fff;
}

.div-icones-footer{

    display: grid;
    grid-template-columns: 3;
    grid-auto-flow: column;
    place-items: center;
    justify-content: center;
    gap:0 3vh;
    padding-top: 10vh;
}

.icones-footer{
    width: 2.5vw;
    object-fit: cover;
    cursor: pointer;
}

.last-div{

    display: grid;
    grid-template-columns: 3;
    grid-auto-flow: column;
    justify-content: space-between;
    padding-top: 2vh;
}

.p-se-footer{

    font-family: "Leckerli One";
    font-size: 3rem;
    margin-left: 3vw;
}

.p-todos-os{
    font-size: 1.69rem;
    margin-top: 2vh;
    margin-left: 3vw;
}

.btn-login-footer{
    background-color: #fff;
    border: none;
    border-radius: 0.5vh;
    width: 6.5vw;
    height: 5vh;
    margin-right: 5vw;
    cursor: pointer;
}

.btn-login-footer:hover{
    background-color: #000;
    font-weight: bold;
}

.btn-login-footer a{
    background: linear-gradient(90deg, #F50679 -4.96%, #ED811D 76.38%);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

@media screen and (max-width:1200px) {

    .ul-menu{
        margin-left: 37vw;
    }

}

@media screen and (max-width:1024px){

    .ul-menu{
        margin-left: 33vw;
    }

    .orange-circle-special1{
        left: 25.5vw;
        top: -6vh;
    }

    .orange-circle-special1::after{
        left: 1.5vw;
        top: 5vh;
    }

    .testimony-of-clients-section{

        display: grid;
        justify-items: center;
        justify-content: center;
        margin-bottom: 15vh;
    }

    .div-fifth-section-description-img{

        width: 20vw;
        height: 20vw;
    }

    .div-fifth-section-description-p-name{
        font-size: 2rem;

    }

    .div-fifth-section-description-p-description{
        font-size: 1.4rem;
        padding: 3vh;
        margin: 4vw;
        margin-top: 0;
        margin-bottom: 5vh;
    }

    .div-fifth-section-description-div-circles--item{

        width: 1.1vw;
        height: 1.1vw;
        border-radius: 50%;
        border: 0.5vh solid #F50679;
        margin: 0 0.25rem;
    }

    .active-item-quote{
        width: 1.6vw;
        height: 1.6vw;
        background-color: #F50679;
        border: none;
    }

}

@media screen and (max-width:800px){

    .orange-circle-special1{
        left: 16vw;
        top: -5.5vh;
    }

    .orange-circle-special1::after{
        left: 2vw;
        top: 4.5vh;
    }

    .testimony-of-clients-section{

        display: grid;
        justify-items: center;
        justify-content: center;
        margin-bottom: 15vh;
    }

    .div-fifth-section-description-img{

        width: 25vw;
        height: 25vw;
    }

    .div-fifth-section-description-p-name{
        font-size: 2rem;

    }

    .div-fifth-section-description-p-description{
        font-size: 1.4rem;
        padding: 3vh;
        margin: 4vw;
        margin-top: 0;
        margin-bottom: 5vh;
    }

    .div-fifth-section-description-div-circles--item{
        width: 1.3vw;
        height: 1.3vw;
    }

    .active-item-quote{
        width: 2.2vw;
        height: 2.2vw;
    }

    .icones-footer{
        width: 3.5vw;
        object-fit: cover;
        cursor: pointer;
    }

    .btn-login-footer{
        width: 9vw;
    }
}


@media screen and (max-width:500px){

    .section-image{
        margin-bottom: 40vh;
    }

    .section-image-title{
        font-size: 2.5rem;
        font-weight: bold;
        font-family: "Noto Serif";
        color: #fff;
        margin-top: -50vh;
        margin-left: 3vw;
    }

    .section-image-description{
        color: #fff;
        font-size: 1.5rem;
        margin-left: 3vw;
        margin-top: 3vh;
    }


    .orange-circle-special1{
        left: 11vw;
        top: -4vh;
    }

    .orange-circle-special1::after{
        left: 3vw;
        top: 4.5vh;
    }

    .p-title-special{
        font-size: 2.5rem;
    }

    .testimony-of-clients-section{

        display: grid;
        justify-items: center;
        justify-content: center;
        margin-bottom: 15vh;
    }

    .div-fifth-section-description-img{

        width: 30vw;
        height: 30vw;
    }

    .div-fifth-section-description-p-name{
        font-size: 2rem;

    }

    .div-fifth-section-description-p-description{
        font-size: 2rem;
        padding: 3vh;
        margin: 4vw;
        margin-top: 0;
        margin-bottom: 5vh;
    }

    .div-fifth-section-description-div-circles--item{
        width: 2vw;
        height: 2vw;
    }

    .active-item-quote{
        width: 2.9vw;
        height: 2.9vw;
    }

    .icones-footer{
        width: 4.5vw;
        object-fit: cover;
        cursor: pointer;
    }

    .btn-login-footer{
        width: 12vw;
    }
}