<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/cadastro.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/normalize/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/universal.css')}}">
    <title>Perfumaria Sê - Cadastro</title>
</head>
<body>
    
    <section class="div-section">
        <div class="left-div">
            <img class="left-div-img" src=" {{url_for('static',filename='./img/lucas-mendes-CyfmSpqNMD8-unsplash.jpg')}}" alt="" srcset="">
        </div>
        
        <form method="post" class="right-div" action="login.html"> 
            <p class="p-tittle">Criar conta</p>  <br><br><br><br><br>
            <input type="text" name="nome" id="nome" class="input-style input-1" placeholder="Nome do usuário" required>
            <br><br><br><br>
            <input type="email" name="email" id="email" placeholder="Email" class="input-style input-2" required><br><br><br><br>
            <input type="password" name="pass1" id="pass1" placeholder="Palavra-passe" class="input-style input-3" required minlength="5"><br><br><br><br>
            <input type="password" name="pass2" id="pass2" placeholder="Confirmar a palavra-passe" class="input-style input-4" required minlength="5"><br><br>
            <a class="link-esqueceu" href="#"><p class="p-esqueceu">Esqueceu a palavra-passe?</p><br><br></a> 
           <button type="submit" class="btn-login" id="btn-login">Cadastrar</button><br><br>
            <p class="p-ainda">Já tem uma conta?<a href="/login" class="link-ainda"><b> Faça Login!</b></p> </a> 
        </form>
             
    </section>

    <script src="{{url_for('static',filename='./js/cadastro.js')}}">
    
    </script>

</body>
</html>