<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/normalize/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/universal.css')}}">
    <title>Login</title>
</head>

<body>

    <section class="div-section">
        <div class="left-div">
            <div class="opacity-div"></div>
            <img class="left-div-img" src="{{url_for('static',filename='./img/perfume-background-hd-2560x1440-301965.jpg')}}" alt="" srcset="">
        </div>
        <form method="post" class="right-div" action="/">
            <p class="p-tittle">Faça Login</p> <br><br><br><br><br>
            <input type="text" class="input-style input-1" id="nome" placeholder="Escreva o seu email" required>
            <br><br><br><br>
            <input type="password" name="" id="pass" placeholder="Escreva a palavra-passe" class="input-style input-2" required><br><br>
            <a class="link-esqueceu" href="#">
                <p class="p-esqueceu">Esqueceu a palavra-passe?</p><br><br></a>
            <button type="submit" class="btn-login" id="btn-login">Login</button><br><br>
            <p class="p-ainda">Ainda não tem uma conta?<a href="/cadastro" class="link-ainda"><b> Cadastre-se!</b></a></p>
        </form>
    </section>

    <script src="{{url_for('static',filename='./js/login.js')}}"></script>

</body>

</html>