<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/normalize/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/produtos.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./css/menu.css')}}">
    <script src="https://kit.fontawesome.com/5c7edfd842.js" crossorigin="anonymous"></script>

    <title>Produtos</title>
</head>

<body>
    <header class="header">
        <p class="paragraph-se">Sê!</p>
        <nav class="menu-nav">
            <ul class="ul-menu">
                <a class="ul-menu-a" href="/">Home</a>
                <a class="ul-menu-a" href="#">Produtos</a>
                <a class="ul-menu-a" href="/testemunhosdosclientes">Testemunhos dos clientes</a>
                <a class="ul-menu-a" href="/sobrenos">Sobre nós</a>
                <button class="btn-login"><a class="ul-menu-a" href="/login" target="_blank"
                        rel="noopener noreferrer">Login</a></button>
            </ul>
        </nav>

        <i class="fas fa-bars hamburguer-menu-icon"></i>
        <nav class="menu-nav mobile-menu">
            <div class="mobile-menu-hidder"></div>
            <ul class="ul-menu">
                <i class="fas fa-times close-menu-button"></i>
                <a class="ul-menu-a" href="/">Home</a>
                <a class="ul-menu-a" href="#">Produtos</a>
                <a class="ul-menu-a" href="/testemunhosdosclientes">Testemunhos dos clientes</a>
                <a class="ul-menu-a" href="/sobrenos">Sobre nós</a>
                <button class="btn-login"><a class="ul-menu-a" href="/login" target="_blank"
                        rel="noopener noreferrer">Login</a>
            </ul>
        </nav>
    </header>

    <section class="section-image">
        <img class="section-image-img" src="{{url_for('static',filename='./img/perfume-wallpaper-hd-2560x1440-301976 1.png')}}" alt="" srcset="">
        <p class="section-image-title">Existe um <br> aroma especial para você!</p>
        <p class="section-image-description">Um aroma que combina apenas com você, que te dará mais <br> coragem .
            <b>Encontre esse aroma e seja!</b></p>
    </section>

    <section class="second-section">
        <p class="p-title-special">Promoções</p>
        <div class="orange-circle"></div>
    </section>

    <section class="promotion-section">
        {% for produtos_promocao in promocao%}
        <div class="promotion-section-item one-promotion">
            <div class="promotion-section-item-div">
                <img class="promotion-section-item-img" src="{{image_static_url+ produtos_promocao[4]}}" alt=""
                    srcset="">
            </div>
            <div class="promotion-section-item-description">
                <p class="promotion-section-item-description--perfume-name">{{produtos_promocao[1]}}</p>
                <p class="promotion-section-item-description--perfume-price">{{produtos_promocao[5]}} kz</p>
                <button class="promotion-section-item-description--btn-shop"><a href="/produto/compra/{{produtos_promocao[0]}}">Comprar</a></button>
            </div>
        </div>
        {% endfor %}
    </section>

    <section class="second-section">
        <p class="p-title-special">Novidades</p>
        <div class="orange-circle"></div>
    </section>

    <section class="news-section">
        {% for produtos_novidades in novidades%}
        <div class="news-section-item item-1">
            <div class="news-section-item-div">
                <img class="news-section-item-img" src="{{image_static_url+ produtos_novidades[4]}}" alt="" srcset="">
            </div>
            <div class="news-section-item-description">
                <p class="news-section-item-description--perfume-name">{{produtos_novidades[1]}}</p>
                <p class="news-section-item-description--perfume-price">{{produtos_novidades[5]}} kz</p>
                <button class="news-section-item-description--btn-shop"><a href="/produto/compra/{{produtos_novidades[0]}}">Comprar</a></button>
            </div>
        </div>
        {% endfor%}
    </section>

    <section class="second-section">
        <p class="p-title-special">Produtos</p>
        <div class="orange-circle-special1"></div>
    </section>

    <section class="news-section">
        {% for produtos_produtos in produto1%}
        <div class="news-section-item item-1">
            <div class="news-section-item-div">
                <img class="news-section-item-img" src="{{image_static_url+ produtos_produtos[4]}}" alt=""
                    srcset="">
            </div>
            <div class="news-section-item-description">
                <p class="news-section-item-description--perfume-name">{{produtos_produtos[1]}}</p>
                <p class="news-section-item-description--perfume-price">{{produtos_produtos[5]}}kz</p>
                <button class="news-section-item-description--btn-shop"><a href="/produto/compra/{{produtos_produtos[0]}}">Comprar</a></button>
            </div>
        </div>
        {% endfor %}
    </section>

    <section class="second-section">
        <p class="p-title-special">Mais vendidos</p>
        <div class="orange-circle-special"></div>
    </section>

    <section class="promotion-section">
        {% for produtos_mais_vendidos in mais_vendidos %}
        <div class="promotion-section-item one-promotion">
            <div class="promotion-section-item-div">
                <img class="promotion-section-item-img" src="{{image_static_url + produtos_mais_vendidos[4]}}" alt="" srcset="">
            </div>
            <div class="promotion-section-item-description">
                <p class="promotion-section-item-description--perfume-name">{{produtos_mais_vendidos[1]}}</p>
                <p class="promotion-section-item-description--perfume-price">{{produtos_mais_vendidos[5]}}</p>
                <button class="promotion-section-item-description--btn-shop"><a href="/produto/compra/{{produtos_mais_vendidos[0]}}">Comprar</a></button>
            </div>
        </div>
        {% endfor %}
    </section>

    <footer class="footer">
        <div class="div-icones-footer">
            <img class="icones-footer" src="{{url_for('static',filename='./icones/Mask Group.png')}}" alt="">
            <img class="icones-footer" src="{{url_for('static',filename='./icones/Mask Group-1.png')}}" alt="">
            <img class="icones-footer" src="{{url_for('static',filename='./icones/Mask Group-2.png')}}" alt="">
        </div>
        <div class="last-div">
            <p class="p-se-footer">Sê!</p>
            <p class="p-todos-os">&copy; Todos os direitos reservados</p>
            <button class="btn-login-footer"><a class="ul-menu-a" href="/login" target="_blank"
                    rel="noopener noreferrer">Login</a></button>
        </div>
    </footer>

    <script src="{{url_for('static',filename='./js/menuController.js')}}"></script>

</body>

</html>